<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">

    <title>Document</title>
</head>
<body>
    {{>headers}}
    <div class="nf_msg">
        <h1 id="stop_code">{{code}}</h1>
        <h2 id="stop_msg">{{message}}</h2>
    </div>
    <br/>
    {{>footer}}
</body>
</html>